@import "game-lair_css-reset.scss";

.page-swiper{
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    height: 100svh;
    .swiper-wrapper{
        .swiper-slide{
            .slide-content{
                min-height: 100vh;
                min-height: 100svh;
            }
            .slide1-content{
                display: grid;
                grid-template: auto 1fr / auto;
                .slide1-content__header{
                    padding-top: 30px;
                    .header__header-content{
                        padding: 0 90px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h5{flex: 0 1 240px;}
                        .header-content__menu{
                            .menu__icon{display: none;}
                            nav{
                                width: 466px;
                                font-family: "Unbounded-Bold";
                                font-size: 22px;
                                display: flex;
                                justify-content: space-between;
                                a{text-decoration: none;}
                                .nav__lang{display: none;}
                            }
                        }
                        .header-content__lang{
                            flex: 0 1 240px;
                            display: flex;
                            justify-content: flex-end;
                            svg{
                                width: 40px;
                                cursor: pointer;
                            }
                            svg:last-child{margin-left: 20px;}
                        }
                    }
                    .header__header-lines{
                        margin-top: 4px;
                        display: grid;
                        align-items: center;
                        svg{
                            width: 100%;
                            grid-row: 1/2;
                            grid-column: 1/2;
                        }
                    }
                }
                .slide1-content__text{
                    padding-left: min((1vw + 1vh) * 6, 180px);
                    padding-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    h3{
                        z-index: 1;
                        font-size: min((1vw + 1vh) * 2.35, 70px);
                        line-height: 158%;
                        max-width: min((1vw + 1vh) * 32, 960px);
                        margin-left: min((1vw + 1vh) * 1.05, 33px);
                    }
                    div{
                        margin-bottom: min(1vw + 1vh, 30px);
                        z-index: 1;
                        max-width: min((1vw + 1vh) * 27.7, 831px);
                        padding: min((1vw + 1vh) * 1.2, 36px);
                        border-radius: min((1vw + 1vh) * 0.53, 16px);
                        background-color: rgba(0, 0, 0, 0.61);
                        position: relative;
                        p{
                            font-family: "Unbounded-Regular";
                            font-size: min((1vw + 1vh) * 1.15, 34px);
                            line-height: 144%;
                            letter-spacing: 0.08em;
                        }
                        svg{
                            position: absolute;
                            width: min((1vw + 1vh) * 1.6, 49px);
                            height: min((1vw + 1vh) * 1.6, 49px);
                        }
                        .top-corner{
                            top: min((1vw + 1vh) * 0.25, 5px);
                            right: min((1vw + 1vh) * 0.25, 5px);
                        }
                        .bottom-corner{
                            bottom: min((1vw + 1vh) * 0.25, 5px);
                            left: min((1vw + 1vh) * 0.25, 5px);
                        }
                    }
                    picture{
                        img{
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 100%;
                            max-height: 1450px;
                        }
                    }
                }
            }
            .slide2-content{
                background: url('../game-lair_img/block2_bg.png') center / contain no-repeat;
                display: flex;
                align-items: center;
                .slide2-content__text{
                    padding: 0 min((1vw + 1vh) * 3, 90px);
                    display: grid;
                    grid-template: auto / 0.37fr 0.26fr 0.37fr;
                    picture{
                        transform: translateY(10%);
                        img{width: 100%;}
                    }
                    div:first-child, div:last-child{
                        transform: translateY(-10%);
                        text-align: center;
                        h4{
                            font-size: min((1vw + 1vh) * 2.13, 64px);
                            margin-bottom: min((1vw + 1vh) * 1.32, 40px);
                        }
                        p{
                            font-size: min((1vw + 1vh) * 0.86, 26px);
                            line-height: 150%;
                            letter-spacing: 0.06em;
                        }
                    }
                }
            }
            .slide3-content{
                background: url('../game-lair_img/block2_bg.png') center / contain no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size: min((1vw + 1vh) * 3, 90px);
                    margin-bottom: min((1vw + 1vh) * 3.33, 100px);
                    text-align: center;
                    padding: 0 20px;
                }
                .games-swiper{
                    width: 100%;
                    overflow: visible;
                    margin-bottom: min(1vw + 1vh, 30px);
                    .swiper-wrapper{
                        .swiper-slide{
                            .game-container{
                                will-change: transform;
                                padding-bottom: min(1vw + 1vh, 30px);
                                transition: transform 0.3s ease;
                                margin: 0 auto min((1vw + 1vh) * 2.86, 86px) auto;
                                width: fit-content;
                                display: grid;
                                justify-items: center;
                                cursor: pointer;
                                svg:first-child, svg:nth-child(2), p{grid-column: 1/2;}
                                svg:first-child{
                                    grid-row: 1/3;
                                    width: min((1vw + 1vh) * 12.73, 382px);
                                    path{stroke: rgba(170, 182, 224, 1);}
                                }
                                svg:nth-child(2){
                                    grid-row: 1/2;
                                    width: min((1vw + 1vh) * 9, 270px);
                                    transform: translateY(10.47%);
                                }
                                p{
                                    grid-row: 2/3;
                                    font-family: "Ligconsolata-Bold";
                                    font-size: min(1vw + 1vh, 30px);
                                    width: min-content;
                                    text-align: center;
                                    color: rgba(170, 182, 224, 1);
                                }
                                a{
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: opacity 0.8s ease, visibility 0.8s ease;
                                    text-decoration: none;
                                    font-size: min((1vw + 1vh) * 0.9, 27px);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    bottom: 0;
                                    transform: translate3d(0, 100%, 0);
                                    width: 100%;
                                    height: min((1vw + 1vh) * 2.86, 86px);
                                    background-color: rgba(236, 140, 50, 0.9);
                                    border-radius: min((1vw + 1vh) * 0.84, 25px);
                                    box-shadow: 0 0 min((1vw + 1vh) * 0.66, 20px) rgba(170, 182, 224, 0.9);
                                    border: 1px solid rgba(0, 0, 0, 0.2);
                                }
                                svg:last-child{
                                    position: absolute;
                                    left: min((1vw + 1vh) * 0.84, 25px);
                                    bottom: min((1vw + 1vh) * 1.96, 59px);
                                    width: min((1vw + 1vh) * 2.93, 88px);
                                    path:last-child{fill: rgba(170, 182, 224, 1);}
                                }
                            }
                            @media(hover: hover) and (pointer: fine){
                                .game-container{
                                    a:hover{background-color: rgba(236, 140, 50, 0);}
                                }
                                .game-container:hover{
                                    transform: scale(1.1);
                                    a{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                            @media(hover: none) and (pointer: coarse){
                                .game-container._active{
                                    transform: scale(1.1);
                                    a{
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .swiper-slide-next{
                            .game-container{
                                svg:first-child{
                                    path{stroke: rgba(236, 140, 50, 1);}
                                }
                                svg:nth-child(2){
                                    path{stroke: rgba(170, 182, 224, 1);}
                                }
                                p{color: rgba(236, 140, 50, 1);}
                                svg:last-child{
                                    path:last-child{fill: rgba(236, 140, 50, 1);}
                                }
                            }
                        }
                    }
                }
            }
            .slide4-content{
                background: url('../game-lair_img/block4_bg.png') center / cover;
                display: grid;
                grid-template: 1fr auto / auto;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 20%;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
                    pointer-events: none;
                }
                .slide4-content__text{
                    align-self: center;
                    padding: 0 min((1vw + 1vh) * 3, 90px);
                    h2{
                        font-size: min((1vw + 1vh) * 2.84, 85px);
                        text-align: center;
                    }
                    div{
                        text-align: center;
                        margin-top: min((1vw + 1vh) * 1.33, 40px);
                        width: 100%;
                        padding: min((1vw + 1vh) * 1.33, 40px);
                        border-radius: min((1vw + 1vh) * 1.33, 40px);
                        background-color: rgba(0, 0, 0, 0.64);
                        position: relative;
                        p{
                            font-size: max(8px, min((1vw + 1vh) * 0.8, 24px));
                            line-height: 170%;
                            letter-spacing: 0.02em;
                        }
                        svg{
                            position: absolute;
                            width: min((1vw + 1vh) * 1.6, 49px);
                            height: min((1vw + 1vh) * 1.6, 49px);
                        }
                        .top-corner{
                            top: min((1vw + 1vh) * 0.5, 15px);
                            right: min((1vw + 1vh) * 0.5, 15px);
                        }
                        .bottom-corner{
                            bottom: min((1vw + 1vh) * 0.5, 15px);
                            left: min((1vw + 1vh) * 0.5, 15px);
                        }
                    }
                }
                footer{
                    padding: max(15px, min(1vw + 1vh, 30px)) min((1vw + 1vh) * 3, 90px);
                    background: linear-gradient(to right, black 50%, rgba(140, 42, 101, 1), rgba(67, 22, 49, 1));
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .footer__links1, .footer__links2{
                        a{
                            display: block;
                            width: fit-content;
                            font-family: "Unbounded-Regular";
                            font-size: min((1vw + 1vh) * 0.73, 22px);
                        }
                    }
                    .footer__links1{
                        a{text-decoration: none;}
                        a:nth-child(2){margin: max(10px, min((1vw + 1vh) * 0.67, 20px)) 0;}
                    }
                    .footer__links2{
                        .links2__contacts{display: none;}
                        a:last-child{margin-top: max(10px, min((1vw + 1vh) * 0.67, 20px));}
                    }
                    .footer__social-media{
                        display: flex;
                        align-items: center;
                        a:nth-child(2){margin: 0 min(1vw + 1vh, 30px);}
                    }
                }
            }
        }
    }
}

.social-media-link{
    .telegram{width: min((1vw + 1vh) * 3, 90px);}
    .vk{width: min((1vw + 1vh) * 2.66, 80px);}
    .mail{width: min((1vw + 1vh) * 2.64, 80px);}
    @media(hover: hover) and (pointer: fine){
        svg{
            transform: translate3d(0, 0, 0);
            cursor: pointer;
        }
        svg:hover{fill: rgba(170, 182, 224, 1);}
    }
}

.fixed-block{
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.72);
    .fixed-block__box{
        position: relative;
        width: fit-content;
        border-radius: max(20px, min((1vw + 1vh) * 1.4, 42px));
        background-color: rgba(103, 99, 99, 1);
        padding: max(30px, min((1vw + 1vh) * 2, 60px)) max(20px, min((1vw + 1vh) * 1.4, 42px));
        display: grid;
        grid-template: repeat(3, auto) / repeat(2, auto);
        align-items: center;
        row-gap: min(1vw + 1vh, 30px);
        column-gap: min((1vw + 1vh) * 0.67, 20px);
        a{
            svg{fill: white;}
            svg:hover{fill: rgba(170, 182, 224, 1);}
        }
        span{
            font-family: "Unbounded-Regular";
            font-size: max(10px, min((1vw + 1vh) * 0.73, 22px));
            letter-spacing: 0.08em;
        }
        div{
            position: absolute;
            top: max(18px, min(1vw + 1vh, 30px));
            right: max(18px, min(1vw + 1vh, 30px));
            width: max(20px, min((1vw + 1vh) * 1.33, 40px));
            height: max(20px, min((1vw + 1vh) * 1.33, 40px));
            cursor: pointer;
            &:before, &:after {
                content: "";
                position: absolute;
                top: max(9px, min((1vw + 1vh) * 0.57, 17px));
                left: max(1px, min((1vw + 1vh) * 0.07, 2px));
                width: max(18px, min((1vw + 1vh) * 1.2, 36px));
                height: max(3px, min((1vw + 1vh) * 0.2, 6px));
                background-color: white;
            }
            &:before {transform: rotate(45deg);}
            &:after {transform: rotate(-45deg);}
        }
    }
}

@media(max-width: 1919.9px) and (min-width: 768px){
    .page-swiper{
        .swiper-wrapper{
            .swiper-slide{
                .slide1-content{
                    .slide1-content__header{
                        .header__header-content{
                            padding: 0 calc(30px + (90 - 30) * ((100vw - 768px) / (1919 - 768)));
                            .header-content__menu{
                                nav{
                                    width: calc(260px + (466 - 260) * ((100vw - 768px) / (1919 - 768)));
                                    font-size: calc(13px + (22 - 13) * ((100vw - 768px) / (1919 - 768)));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 767.9px) and (min-width: 320px){
    .page-swiper{
        .swiper-wrapper{
            .swiper-slide{
                .slide1-content{
                    .slide1-content__header{
                        .header__header-content{padding: 0 calc(20px + (30 - 20) * ((100vw - 320px) / (767 - 320)));}
                    }
                }
            }
        }
    }
}

@media(max-width: 767.9px){
    .page-swiper{
        .swiper-wrapper{
            .swiper-slide{
                .slide1-content{
                    .slide1-content__header{
                        .header__header-lines{
                            position: relative;
                            z-index: 3;
                            transform: translate3d(0, 0, 0);
                        }
                        .header__header-content{
                            justify-content: space-between;
                            h5{order: 2;}
                            h5, .header-content__lang{
                                flex: 0 1 auto;
                                z-index: 3;
                                transform: translate3d(0, 0, 0);
                            }
                            .header-content__lang{order: 3;}
                            .header-content__menu{
                                flex: 0 1 100px;
                                order: 1;
                                .menu__icon{
                                    position: relative;
                                    z-index: 3;
                                    transform: translate3d(0, 0, 0);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 48px;
                                    height: 30px;
                                    .icon__box{
                                        position: relative;
                                        width: 30px;
                                        height: 20px;
                                        cursor: pointer;
                                        span, &::before, &::after{
                                            position: absolute;
                                            left: 0;
                                            height: 10%;
                                            width: 100%;
                                            transition: all 0.3s ease;
                                            background-color: white;
                                        }
                                        &::before, &::after{content: "";}
                                        &::before{top: 0;}
                                        &::after{bottom: 0;}
                                        span{
                                            top: 50%;
                                            transform: scale(1) translate(0px, -50%);
                                        }
                                    }
                                }
                                .menu__icon._active{
                                    .icon__box{
                                        span{transform: scale(0) translate(0px, -50%);}
                                        &::before{
                                            top: 9px;
                                            transform: rotate(-45deg);
                                        }
                                        &::after{
                                            bottom: 9px;
                                            transform: rotate(45deg);
                                        }
                                    }
                                }
                                nav{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: flex-start;
                                    position: fixed;
                                    top: 0;
                                    z-index: 2;
                                    left: -100%;
                                    width: 100%;
                                    height: 100%;
                                    background-color: black;
                                    transition: transform 0.3s ease;
                                    a{
                                        color: rgb(200, 200, 200);
                                        font-size: calc((1vw + 1vh) * 2);
                                        margin-top: calc((1vw + 1vh) * 3);
                                        &:first-child{margin-top: calc((1vw + 1vh) * 13.5);}
                                    }
                                    @media(hover: hover) and (pointer: fine){
                                        a:hover{color: rgba(236, 140, 50, 1);}
                                    }
                                }
                                nav._active{transform: translateX(100%);}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 475.9px){
    .page-swiper{
        .swiper-wrapper{
            .swiper-slide{
                .slide1-content{
                    .slide1-content__header{
                        .header__header-content{
                            display: grid;
                            grid-template: auto / auto auto;
                            .header-content__lang{display: none;}
                            .header-content__menu{
                                grid-row: 1/2;
                                grid-column: 1/2;
                                nav{
                                    .nav__lang{
                                        display: flex;
                                        margin-top: calc((1vw + 1vh) * 3.3);
                                        svg{width: 40px;}
                                        svg:last-child{margin-left: 30px;}
                                    }
                                }
                            }
                            h5{
                                grid-row: 1/2;
                                grid-column: 1/3;
                                justify-self: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 355.9px){
    .page-swiper{
        .swiper-wrapper{
            .swiper-slide{
                .slide1-content{
                    .slide1-content__header{
                        .header__header-content{
                            h5{justify-self: end;}
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 319.9px){
    .page-swiper{
        .swiper-wrapper{
            .swiper-slide{
                .slide1-content{
                    .slide1-content__header{
                        .header__header-content{padding: 0 20px;}
                    }
                }
            }
        }
    }
}

@media(orientation: portrait){
    .page-swiper{
        .swiper-wrapper{
            .swiper-slide{
                .slide1-content{
                    .slide1-content__text{
                        align-items: center;
                        justify-content: space-between;
                        text-align: center;
                        padding-left: 20px;
                        h3{margin-left: 0;}
                        div{
                            background-color: rgba(0, 0, 0, 0.8);
                            margin-bottom: calc((1vw + 1vh) * 4);
                        }
                        picture{
                            img{
                                width: 100%;
                                height: auto;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
                .slide2-content{
                    align-items: unset;
                    .slide2-content__text{
                        grid-template: repeat(3, auto) / auto;
                        align-items: center;
                        picture{
                            width: 50%;
                            margin: 0 auto;
                            transform: translateY(-10px);
                        }
                        div:first-child{transform: translateY(10px);}
                    }
                }
                .slide4-content{
                    .slide4-content__text{padding: 0 20px;}
                    footer{
                        padding: max(15px, min(1vw + 1vh, 30px)) 20px;
                        h5{
                            width: min-content;
                            text-align: center;
                            line-height: 130%;
                        }
                        .footer__links2{
                            .links2__contacts{
                                margin-bottom: max(10px, min((1vw + 1vh) * 0.67, 20px));
                                text-decoration: none;
                                display: block;
                            }
                        }
                        .footer__social-media{display: none;}
                    }
                }
            }
        }
    }
}