*{
    padding: 0; 
    margin: 0; 
    border: 0;
}

*, *::before, *::after{box-sizing: border-box;}

@font-face {
    font-family: "Unbounded-Medium";
    src: url("../game-lair_fonts/Unbounded-Medium.woff2");
}
@font-face {
    font-family: "Unbounded-Regular";
    src: url("../game-lair_fonts/Unbounded-Regular.woff2");
}
@font-face {
    font-family: "Unbounded-Black";
    src: url("../game-lair_fonts/Unbounded-Black.woff2");
}
@font-face {
    font-family: "Unbounded-Bold";
    src: url("../game-lair_fonts/Unbounded-Bold.woff2");
}
@font-face {
    font-family: "Plateia-Bold";
    src: url("../game-lair_fonts/Plateia-Bold.woff2");
}
@font-face {
    font-family: "Ligconsolata-Bold";
    src: url("../game-lair_fonts/Ligconsolata-Bold.ttf");
}

html, body{
    font-family: "Unbounded-Medium";
    line-height: 1;
    color: white;
    background-color: black;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5{font-weight: normal;}

h1, h2, h3, h4{font-family: "Plateia-Bold";}

h5{
    font-family: "Unbounded-Black";
    font-size: 32px;
}

@media(max-width: 1919.9px) and (min-width: 768px){
    h5{font-size: calc(21px + (32 - 21) * ((100vw - 768px) / (1919 - 768)));}
}

@media(max-width: 767.9px) and (min-width: 320px){
    h5{font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (767 - 320)));}
}

@media(max-width: 319.9px){
    h5{font-size: 14px;}
}

a{color: inherit;}

@media(hover: hover) and (pointer: fine){
    .nav-link, .contact-link, .game-link{transform: translate3d(0, 0, 0);}
    .nav-link:hover, .contact-link:hover, .game-link:hover{color: rgba(236, 140, 50, 1);}
}

.silver{color: rgba(170, 182, 224, 1);}

.orange{color: rgba(236, 140, 50, 1);}